
@model List<isp_management.Models.RouteTB>
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<section id="main-content" class="">
    <section class="wrapper">
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Route Search
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">

                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr role="row">
                                        <th>Option</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Post_Code</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (isp_management.Models.RouteTB pac in (IEnumerable<isp_management.Models.RouteTB>)Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="~/Route/Edit?id=@pac.Id">Edit </a>
                                                | <a href="~/Route/RouteDetails?id=@pac.Id">Details</a>
                                            </td>
                                            <td>@pac.Name</td>
                                            <td>@pac.Address</td>
                                            <td>@pac.Post_Code</td>
                                        </tr>
                                    }
                                <tbody>
                            </table>

                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- page end-->
    </section>
</section>
@section contents{
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.min.css">
    @*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@
    @*<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />*@
}
@section scripts{


    <script src="~/Script/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="~/Script/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            //$('#example tfoot th').each(function () {
            //    var title = $(this).text();
            //    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            //});

            var table = $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [

                    'excelHtml5',
                    'pdfHtml5'
                ]
            });

            //// Apply the search
            //table.columns().every(function () {
            //    var that = this;

            //    $('input', this.footer()).on('keyup change', function () {
            //        if (that.search() !== this.value) {
            //            that
            //                .search(this.value)
            //                .draw();
            //        }
            //    });
            //});
        });
    </script>

}